@using Microsoft.AspNetCore.Html;
@model TotallyNotXSSVulnerable.Models.IndexVM

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Comments</h1>
        <div class="container">
            @foreach (Comment comment in Model.Comments)
            {
                HtmlString myString = new HtmlString(@comment.Content);
                <p>@myString</p>
            }
        </div>

        <br />
        <br />
        <form asp-action="Index" method="post">
            <div class="form-group">
                <label asp-for="CommentContent" class="control-label"></label>
                <input asp-for="CommentContent" class="form-control" />
                <span asp-validation-for="CommentContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
